@page "/"

<h1>DevExpress Reporting - Blazor Report Definition</h1>

<p>
    In this demo, we create a report definition solely in Razor markup and view the resulting report in the built-in Report Viewer.
</p>
<p>
    The ability to create a report in markup allows us to create a report on all platforms, be it MAC or Linux, since development environments often support code completion.
</p>
<p>
    The page contains a Blazor Report component that is a report with the layout defined in Razor markup language. When the page is prerendered on the server, the Blazor Report component (XReport) is transformed into an XtraReport instance in the Blazor render tree. Two render modes are available - default mode returns a report instance to the page, the Preview mode displays a report in the Report Viewer.
</p>
<p>
    Markup tags are named after related bands and reporting controls, that is, the "X" prefix is added to the band type name, "XControl" prefix substitutes the "XR" prefix in the report control type name. The following markup creates a simple report:
</p>

<link rel="stylesheet" href="/css/light-code.css">
<div class="position-relative overflow-auto"><pre>
&lt;<span class="xcode-name">XReport</span> <span class="xcode-property">DataSource</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>CreateDataSource()<span class="xcode-punctuation">"</span></span> <span class="xcode-property">DataMember</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Employees<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Margins</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>XMargins.From(100, 100, 105, 75)<span class="xcode-punctuation">"</span></span>  <span class="xcode-property">ViewMode</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>ViewMode.Preview<span class="xcode-punctuation">"</span></span>&gt;
    &lt;<span class="xcode-name">Bands</span>&gt;
        &lt;<span class="xcode-name">XBandReportHeader</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>ReportHeader1<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Height</span>=<span class="xcode-quotes">50</span> &gt;
            &lt;<span class="xcode-name">XControlLabel</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Label1<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Text</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Employees<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Width</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>240<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Style</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Style1<span class="xcode-punctuation">"</span></span>&gt;&lt;/<span class="xcode-name">XControlLabel</span>&gt;
        &lt;/<span class="xcode-name">XBandReportHeader</span>&gt;
        &lt;<span class="xcode-name">XBandDetail</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Detail1<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Height</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>30<span class="xcode-punctuation">"</span></span>&gt;
            &lt;<span class="xcode-name">XControlLabel</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Label2<span class="xcode-punctuation">"</span></span> <span class="xcode-property">X</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>10<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Expression</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>[FirstName]<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Width</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>120<span class="xcode-punctuation">"</span></span>&gt;&lt;/<span class="xcode-name">XControlLabel</span>&gt;
            &lt;<span class="xcode-name">XControlLabel</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Label3<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Expression</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>[LastName]<span class="xcode-punctuation">"</span></span> <span class="xcode-property">X</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>125<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Width</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>120<span class="xcode-punctuation">"</span></span>&gt;&lt;/<span class="xcode-name">XControlLabel</span>&gt;
        &lt;/<span class="xcode-name">XBandDetail</span>&gt;
        &lt;<span class="xcode-name">XBandBottomMargin</span> <span class="xcode-property">Height</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>100<span class="xcode-punctuation">"</span></span>&gt;
            &lt;<span class="xcode-name">XControlPageInfo</span> <span class="xcode-property">PageInfo</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>XPageInfo.DateTime<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Width</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>120<span class="xcode-punctuation">"</span></span>  &gt;&lt;/<span class="xcode-name">XControlPageInfo</span>&gt;
            &lt;<span class="xcode-name">XControlPageInfo</span> <span class="xcode-property">X</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>325<span class="xcode-punctuation">"</span></span> <span class="xcode-property">FormatString</span> = <span class="xcode-quotes"><span class="xcode-punctuation">"</span>Page {0} of {1}<span class="xcode-punctuation">"</span></span>&gt;&lt;/<span class="xcode-name">XControlPageInfo</span>&gt;
        &lt;/<span class="xcode-name">XBandBottomMargin</span>&gt;
    &lt;/<span class="xcode-name">Bands</span>&gt;
    &lt;<span class="xcode-name">Styles</span>&gt;
        &lt;<span class="xcode-name">XStyle</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>Style1<span class="xcode-punctuation">"</span></span> <span class="xcode-property">TextAlignment</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>XTextAlignment.MiddleCenter<span class="xcode-punctuation">"</span></span> <span class="xcode-property">BackColor</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>XColor.From(109, 140, 89)<span class="xcode-punctuation">"</span></span> <span class="xcode-property">ForeColor</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>XColor.White<span class="xcode-punctuation">"</span></span>&gt;
            &lt;<span class="xcode-name">XFont</span> <span class="xcode-property">Name</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>@XFontNames.Tahoma<span class="xcode-punctuation">"</span></span> <span class="xcode-property">Size</span>=<span class="xcode-quotes"><span class="xcode-punctuation">"</span>20.25f<span class="xcode-punctuation">"</span></span>&gt;&lt;/<span class="xcode-name">XFont</span>&gt;
        &lt;/<span class="xcode-name">XStyle</span>&gt;
	&lt;/<span class="xcode-name">Styles</span>&gt;
&lt;/<span class="xcode-name">XReport</span>&gt;</pre></div>

<p>
    We encourage you to try out the new report layout definition language and create your own reports in this demo application.
</p>

